<mat-sidenav-container [hasBackdrop]="true" class="sidenav-container" fullscreen>
  <mat-sidenav
    #drawer
    #sideNav
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="'over'">
    <mat-toolbar color="primary">
      <span>Lists:</span>
      <span class="fill-remaining-space"></span>
      <button
        type="button"
        aria-label="Add list"
        mat-icon-button
        (click)="openDialog('list')">
        <mat-icon aria-label="Side nav toggle icon">add</mat-icon>
      </button>
    </mat-toolbar>
    <mat-list #selectionList>
      <mat-list-item *ngFor="let list of todoList" (click)="onListSelect(list)" [ngClass]="{'nav-active': list == selectedList}">{{list.listName}}</mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>ToDo - App</span>
      <span class="fill-remaining-space"></span>
      <button
        type="button"
        aria-label="Add list"
        mat-icon-button
        (click)="openDialog('item')">
        <mat-icon aria-label="Side nav toggle icon">add</mat-icon>
      </button>
    </mat-toolbar>
    <app-detail-display #listDetails></app-detail-display>
    <mat-card *ngIf="!selectedList">
      <mat-card-title>Welcome!</mat-card-title>
      <mat-card-subtitle>Lets get working</mat-card-subtitle>
      <mat-card-content>
        Select a list to the left or create a new one!
      </mat-card-content>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>
