.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.nav-active {
  background-color: pink;
  color: purple;
}

.nav-active md-icon {
  color: purple;
} 

.mat-list-item:hover {
  cursor: pointer;
}
